/* cre by wihtyzu uiverse.io */

.template {
   /* ------------------------------------------------------------ */
   /* fill */
   --fill: #0000;
   --fill-hover: hsla(0, 0%, 45%, 0.2);
   --fill-active: hsl(0, 0%, 10%);
   /* txt */
   --txt: #ccc;
   /*-------------------------*/
   --br: 0.625rem;
   --gap: 0.25rem;
   --popup-main-h: 20rem;
   /* ---------------------------------------------------------- */
   display: flex;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-size: 0.975rem;
   color: var(--txt);
}

  /* button */
.button {
   position: relative;
   display: inline-block;
   list-style-type: none;
   list-style: none;
   appearance: none;
   outline: 0;
   border: 0;
   cursor: pointer;
   text-decoration: none;
   font-size: inherit;
   color: inherit;
   white-space: nowrap;
   padding: calc(var(--gap) * 2) calc(var(--gap) * 8) calc(var(--gap) * 2)
     calc(var(--gap) * 4);
   text-align: left;
   background-color: var(--fill);
   border-radius: var(--br) calc(var(--br) / 2) calc(var(--br) / 2) var(--br);
   transition: background-color 500ms;
}

.button:hover {
   background-color: var(--fill-hover);
}

.button.quit:hover {
   background-color: #962434;
}

.button:focus,
.button:active,
.button.active {
   background-color: var(--fill-active);
}

hr {
   margin: 0.8rem;

   border: 1px dashed #313131;
}

  /* popup */
.popup {
   position: relative;
}

.popup-header {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: calc(var(--gap) * 3);
}

.popup-main {
   position: absolute;
   top: 100%;
   right: 0;
   opacity: 0;
   margin-top: var(--gap);
   border-radius: var(--br);
   padding: 0 calc(var(--gap) * 1.5);
   background-color: hsl(0, 0%, 10%);
   box-shadow: hsl(0, 0%, 12%) 0px 0px 0px 1px;
   transition: 0.4s;
   overflow: hidden;
   height: var(--popup-main-h);
   z-index: 10;
}

.popup:focus .popup-main {
   margin-top: 1rem;
   opacity: 1;
}

.list-box {
   scrollbar-width: none;
   scroll-behavior: smooth;
   overscroll-behavior: contain;
   overflow: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: calc(var(--gap) * 2) 0 calc(var(--gap) * 3) 0;
}
