.genres-list-items{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
}

.genres-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}