.author-container {
  padding: 1rem;
  background: #cde4fc;
  border: 3px solid #99c9f9;
  border-radius: 8px;
  color: #4a90e2;
  font-weight: 500;
}
.author-content{
  margin-top: 8px;
}
.author-card {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #cde4fc;
  border: 3px solid #99c9f9;
  border-radius: 6px;
  color: #4a90e2;
}
.author-card h3 {
  margin: 0 0 0.5rem;
}